{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2><b>Upload Food Items</h2>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <table><tr><td>
                                            {{form.as_p}}
                                            <button type="submit" >Save</button>
                                        </td></tr></table>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}