{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Alu Gobi</h2>
                            <p>Alu Gobi is a dry dish made with potatoes (aloo),
                                cauliflower (gobi) and Indian spices. It is
                                yellowish in color, due to the use of turmeric,
                                and occasionally contains kalonji and curry
                                leaves. Other common ingredients include garlic,
                                ginger, onion, coriander stalks, tomato, peas,
                                and cumin. It all adds up to one of the most
                                popular dishes ordered in Indian restaurants.</p>
                           <img src="{% static 'images/availableitems/item_9.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}