{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Chole (Chickpea Curry)</h2>
                            <p>A classic and easy chole chickpea curry,
                                is a favorite in Northern India and has
                                become a worldwide sensation. It's perfect
                                for a crowd, especially if you serve it
                                hot along with fried Indian leavened
                                bread like poori or bhatura.<br>
                                The ingredient list looks more
                                intimidating than the recipe is
                                n reality. Once you have the chickpeas,
                                onions, and tomatoes, along with garlic
                                and ginger pastes, all you need are those
                                common Indian spices that make this cuisine unique.</p>
                           <img src="{% static 'images/availableitems/item_6.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}