{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Dhokla</h2>
                            <p>A popular Gujarati snack, Dhokla is a steamed
                                cake made from gram flour and channa dal is
                                one of the best things to come out of Gujarat.
                                You can serve dhokla for breakfast as well as a
                                light snack in the evening along with a cup of tea.
                                A recipe that is steamed and made in just 30 minutes,
                                using besan with a colorful, chili tempering is sure
                                to set your taste buds racing!.</p>
                           <img src="{% static 'images/availableitems/item_5.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}