{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Kaali Daal (Black Lentils)</h2>
                            <p>There are certain dishes, such as butter
                                chicken, that go perfectly with a side
                                of kaali daal, which is also known as
                                ma ki daal (mom's lentils) because it
                                is wholesome and delicious.<br>
                                You'll need to soak your black
                                lentils overnight, but after that,
                                it's an easy recipe. The only new
                                ingredients you'll need are ghee (clarified butter)
                                and asafetida (a resinous gum), both of which
                                will be useful in your Indian food adventures.</p>
                           <img src="{% static 'images/availableitems/item_10.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}