{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Malai Kofta</h2>
                            <p>Malai kofta (vegetable "meatballs" in a thick sauce) is the vegetarian
                                alternative to meatballs. The koftas are made with a mix of potatoes,
                                carrots, beans, peas, and sweet corn, which are cooked and mashed
                                before mixing with spices and paneer, that essential blocked "cheese"
                                that is similar to tofu in texture and a great addition to any vegetarian
                                meal. It's rather easy to find if you don't want to make it, especially
                                if you shop at a natural foods market. Malai kofta goes very well with naan or jeera rice.</p>
                           <img src="{% static 'images/availableitems/item_3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}