{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Murg Makhani (butter chicken)</h2>
                            <p>Murg Makhani (butter chicken)is one of the top orders at any Indian
                                restaurant in the West and for good reason—it is delicious. This
                                sultry poultry dish tastes great with kaali daal (black lentils),
                                naan, and a green salad.<br>
                            If you have a well-stocked spice drawer, the only ingredient you
                                may need is kasuri methi (dried fenugreek leaves). Otherwise,
                                this recipe calls for common ingredients like olive oil, onion,
                                garlic, ginger, butter, chicken stock, and tomato puree.
                                The chicken is marinated twice, once in a dry rub and then in
                                a yogurt mixture. This makes the chicken moist and flavorful,
                                adding to the richness of the dish.</p>
                            <img src="{% static 'images/availableitems/item_1.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}