{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Naan (Leavened Indian Flatbread)</h2>
                            <p>Naan, a puffy flatbread, is a staple in the Indian
                                kitchen and can go with everything you make,
                                including many popular dishes like tandoori
                                chicken or all kinds of kebabs.<br>
                                Though naan (leavened Indian flatbread)
                                is traditionally cooked in a tandoor or
                                earthen oven, they work just as well in
                                your own oven. The ingredient list includes
                                yeast, flour, sugar, and water, as well as yogurt and ghee.</p>
                           <img src="{% static 'images/availableitems/item_8.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}