{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Palak Paneer (Spinach and Cottage Cheese)</h2>
                            <p>The most popular paneer recipe at
                                Indian restaurants is, by far, palak
                                paneer. It is a mildly flavored dish
                                that is super healthy, as it is nothing
                                more than spinach and cottage cheese
                                (the paneer), along with the typical Indian spices.<br>
                                Thanks to the large portions of spinach
                                and fenugreek leaves included in the recipe,
                                this dish takes on a deep green hue. The cubed
                                paneer are pan-fried first, contributing a nice
                                texture to the dish. Palak paneer gets even
                                better when served with your favorite flatbread.</p>
                           <img src="{% static 'images/availableitems/item_7.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}