{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Papdi Chaat</h2>
                            <p>Chaat has to be the most popular North-Indian snack.
                                Vendors literally crowd the streets selling all
                                kinds of delicious variations of chaat in this part
                                of the country. Chaat parties are also popular and
                                a nice alternative to a sit-down dinner.<br>
                                Papdi chaat is a great introduction to this
                                dish and a lot of fun to make. The first
                                step is to make the papdi (or papri) dough,
                                and then form it into thin circles and deep-fry.
                                These wafers are then topped with potatoes and
                                chickpeas and drizzled with a tangy, spicy, and sweet sauce.</p>
                           <img src="{% static 'images/availableitems/item_4.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}