{% extends 'foodcourtbase.html'%}
{% load static %}
{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2>Rogan Josh (Red Lamb)</h2>
                            <p>The literal translation for Rogan Josh, the name of this dish
                                from Kashmir is "red lamb." The color comes from Kashmiri dry
                                red chilies. While the name may sound fiery, the heat of the
                                dish is toned down by the cream that is added at the end.<br>
                            The list of spices called for in this recipe may seem long,
                                but a trip to your local international food market should
                                set you up nicely. Spices such as cardamom, cumin, turmeric,
                                and garam masala are often sold in small bulk quantities,</p>
                           <img src="{% static 'images/availableitems/item_2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}