{% extends 'customerbase.html'%}

{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2><b>Upload Image And Identify the color</h2>
                                <p>By usin Knn algorithm</p>
                                <form  action="{% url 'getfoodcolor'%}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                       <input type="file" name="imgfile" required="true"/><br/>
                                        <button type="submit" >Submit</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}