{% extends 'customerbase.html'%}

{% block contents %}

<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                                <h2><b>Welcome to Customer Page</h2>
                                    <table border="2px">
                                        <tr>
                                            <th style="color: darkblue">S.No</th>
                                            <th style="color: darkblue">Customer ID</th>
                                            <th style="color:darkblue">Email</th>
                                            <th style="color:darkblue">Ingredients</th>
                                            <th style="color:darkblue">Recipes</th>
                                        </tr>
                                        {% for i in object %}
                                        <tr>
                                            <td style="color:brown">{{forloop.counter}}</td>
                                            <td style="color:darkolivegreen">{{i.loginid}}</td>
                                            <td style="color:brown">{{i.email}}</td>
                                            <td style="color:brown">{{i.ingredients}}</td>
                                            <td style="color:brown">{{i.recipes}}</td>
                                        </tr>
                                         {% endfor %}
                                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->


{% endblock %}